.app {
  text-align: center;
  background-color: #acedff;
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "button text";
  width: 100%;
}

.title {
  font-size: 40px;
  color: rgb(38, 38, 38);
  font-weight: bold;
  margin-bottom: 20px;
  grid-area: title;
  text-align: center;
}
