.app {
  text-align: center;
  background-color: #acedff;
  padding: 20px;
  width: 75%;
  margin: auto;
  height: max-content;
  margin-top: 20%;
}

@media screen and (max-width: 600px) {
  .app {
    margin: 10px;
    width: 100%;
  }
}

.title {
  font-size: 40px;
  color: rgb(38, 38, 38);
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  font-family: fantasy;
}
button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  width: fit-content;
}

button:hover {
  opacity: 0.8;
}

div {
  margin: 50px;
}
